.main {
	border: 1px solid red;
	padding: 1rem;
	height: 100%;
	position:relative;
}

#messageTable {
	width: 100%;
	border-collapse: collapse;
}

#messageTable th {
	text-align: left;
	padding: 8px;

}

#messageTable td {
	border: 1px solid grey;
	padding: 8px;
}

#messageTable tr:nth-child(even){
	background-color: lightblue;
}

.lbl-username {
	font-weight: bold;
	font-size: smaller;
	display: inline-block;
}

.lbl-timestamp {
	font-style: italic;
	font-size: smaller;
	display: inline-block;
	float: right;
}

.lbl-content {
	font-size: smaller;
	display: block
}

.footer {
  grid-column: 2 / span 4;
  grid-row: 5;
  position: absolute;
  bottom: 0;
  /*margin: 0   ;*/
  /*display:grid;*/
  /*height: 70vh;*/
}

.messageBar-form {
  border: 2px solid orange;
  /*padding: 1em;*/
  display: flex;
  width: 100%;
}

textarea {
  resize: none;
  outline: none
}

textarea::placeholder {
  color: blue;
  font-size: 20px;
  padding: 2% 0;
}

.message-submit {
  max-width: 70px;
  background-color: lightblue;
}