* {
    box-sizing: border-box;
}

.App {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*grid-gap: 5px;*/
  grid-auto-rows: minmax(100px, auto);
  height: 100vh
}

.sidebar {
  background-color: #a3a3c2;
  grid-column: 1;
  grid-row: 1 / 6;
  overflow: hidden;
  padding: 1em;
  height: 100%;

}

.messages {
  grid-column: 2 / 6;
  grid-row: 1 / 6;
  padding: 1em;
}
